langchain==0.0.161
pydantic==1.10.7
joblib==1.2.0
arxiv==1.4.7
pdfminer.six==20221105
tqdm==4.65.0
faiss-cpu==1.7.4
google-search-results==2.4.2
openai==0.27.6
tiktoken==0.3.3
spacy==3.5.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
